{
  servers {
    metrics
    }
    admin :2019
}

https://app.tnsr.ai {
  reverse_proxy host.docker.internal:3000
}

https://backend.tnsr.ai {
  reverse_proxy fastapi-backend:8000
}

https://dashboard.tnsr.ai {
    reverse_proxy grafana:5000
  }
